<div id='headerTop' class="row-fluid">
  <div class="panel-group">
    <div class="card text-white bg-primary panel-noborder rounded-0">
      <div class="card-header header-panel onboarding-form-heading">
        <div>
          <h4 style="display: inline;">{{title}}</h4>
        </div>
        <div class="phr-menu-area phr-menu-area-slide-left"></div>
      </div>
    </div>
  </div>
</div>

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">

<router-outlet></router-outlet>
