<div class="indent">
  <div class="row">
    <div class="col-12">
      <h4 class="heading-bold">Add Emergency Contact</h4>
    </div>
  </div>
</div>
  
  <div class="indent">
    <div class="row">
      <div class="col-12 col-md-4">
        <label>Name</label>
          <div>
            <input class="form-control" name="name" type="text" id="name" required>
          </div>
      </div>
    </div>
  </div>
  
  <div class="indent">
      <div class="row">
        <div class="col-12 col-md-4">
            <div class="form-group">
              <label>Type</label>
              <select class="form-control" name="type" id="type" class="form-control">
                <option value="P">Phone</option>
                <option value="E">Email</option>
                <option value="T">Text</option>
              </select>
            </div>
        </div>
      </div>
    </div>
  
  <div class="indent">
    <div class="row">
      <div class="col-12 col-md-4">
        <label>Contact Info</label>
          <div>
            <input class="form-control" name="contactInfo" type="text" id="contactInfo" required>
          </div>
      </div>
    </div>
  </div>
  
  <div class="indent">
    <div class="row">
      <div class="col-12 col-md-4">
        <label>Relationship</label>
          <div>
            <input class="form-control" name="relationship" type="text" id="relationship" required>
          </div>
      </div>
    </div>
  </div>

<div class="indent">
  <div class="row">
    <div class="col-12 col-md-4">
        <button class="btn btn-primary" routerLink="/emergency-contacts-setup">Done</button>
        <button class="btn btn-secondary" routerLink="/emergency-contacts-setup">Cancel</button>
    </div>
  </div>
</div>
