<div class="indent">
  <div class="row">
    <div class="col-12">
        <h4 class="heading-bold">Emergency Contacts</h4>
    </div>
  </div>
</div>

<div class="indent">
    <div class="row">
        <div class="col-12 col-md-4">
          <button class="btn btn-primary-add" routerLink="/emergency-contacts-add">Add <i class="fa fa-chevron-right"></i></button>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-md-4">
          <label>You have no Emergency Contacts. Click Add to enter one.</label>
        </div>
      </div>
</div>
  
<div class="indent">
  <div class="row">
    <div class="col-12 col-md-2">
      <button class="btn btn-secondary" routerLink="/resident-address"><i class="fa fa-chevron-left"></i> Back</button>
    </div>
    <div class="col-12 col-md-4">
        <button class="btn btn-success">Submit and Continue <i class="fa fa-chevron-right"></i></button>
      </div>
  </div>
</div>