<div class="indent">
  <div class="row">
    <div class="col-12">
        <h4 class="heading-bold">Emergency Contacts</h4>
    </div>
  </div>
</div>

<div class="indent" *ngIf="employee.emergencyContactsList">
  <div *ngFor="let emergencyContact of employee.emergencyContactsList; let i = index;">
    <div class="row">
      <span class="mr-1">Name: {{emergencyContact.name}}</span>
      <span class="mr-1">Type: {{emergencyContact.type}}</span>
      <span class="mr-1">Contact Info: {{emergencyContact.contactInfo}}</span>
      <span class="mr-4">Relationship: {{emergencyContact.relationship}}</span>
      <button class="btn-default" (click)="employee.emergencyContactsList.splice(i, 1)">Delete</button>
    </div>
  </div>
</div>


<div class="indent">
    <div class="row">
        <div class="col-12 col-md-4">
          <button class="btn btn-primary-add" (click)="add()">Add <i class="fa fa-chevron-right"></i></button>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-md-4">
          <label *ngIf="employee.emergencyContactsList.length === 0">You have no Emergency Contacts. Click Add to enter one.</label>
        </div>
      </div>
</div>
  
<div class="indent">
  <div class="row">
    <div class="col-12 col-md-2">
      <button class="btn btn-secondary" (click)="back()"><i class="fa fa-chevron-left"></i> Back</button>
    </div>
    <div class="col-12 col-md-4">
        <button class="btn btn-success" (click)="submit()">Submit and Continue <i class="fa fa-chevron-right"></i></button>
      </div>
  </div>

  <div *ngIf="showEmployee">
    <span>{{employee | json}}</span>
  </div>
</div>